.testimonial > .swiper-pagination {
  bottom: 8px;
}

.wrapper__home-icon {
  &:hover .home-icon {
    color: white;
  }
}

.overlay {
  background: linear-gradient(135deg, #2ebdc4 0%, #68e5b2 100%);
  filter: opacity(0.8);
}
