@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: Poppins, "sans-serif";
}

.container {
  margin: 0 auto;
  width: 100%;
}

@layer components {
  .color-text-primary {
    @apply text-[#4d4d4d];
  }
}

@layer components {
  .width-primary {
    @apply w-[1110px];
  }
}
